.popular-articles {
    padding: 4rem 0;
    background-color: none;


    &__header {
        text-align: center;
        margin-bottom: 3rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        color: #1e293b;
        margin-bottom: 0.5rem;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
    }

    &__subtitle {
        font-size: 1rem;
        color: #64748b;
        font-weight: 400;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

        @media (max-width: 768px) {
            gap: 1.5rem;
        }

        @media (max-width: 640px) {
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }
    }
}