@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --zsiqf-custom-bg-color: #06c;
  --zsiqf-empty-cont-bg-color: var(--zsiqf-custom-bg-color);
  --zsiqf-tooltip-close-bg: #000;
  --zsiqf-intigator-bg-color: #ff3520;
  --zsiqf-mob-minimise-bg-color: rgba(0, 0, 0, .14);
  --zsiqf-progress-load-cont-bg: hsla(0, 0%, 90%, .3);
  --zsiqf-progress-load-bar-bg: hsla(0, 0%, 90%, .15);
  --zsiqf-primary-color: #fff;
  --zsiqf-primary-bg: #fff;
  --zsiqf-media-thumbnail-icon-bg: rgba(221, 28, 28, .05);
  --zsiqf-media-thumbnail-icon-color: #dd1c1c;
  --zsiqf-float-close-height: 55px;
  --zsiq-seasonal-float-image-position: 0px;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background: white;
  position: relative;
  z-index: 1;
  /* ✅ ДОБАВЬ ЭТО */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;


}

main,
header,
footer {
  position: relative;
  z-index: 1;

}

a {
  color: inherit;
  text-decoration: none;
  z-index: 1;
}

button {
  z-index: 1;
}


.container {
  max-width: 1260px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn {
  height: 42px;
  background: white;
  color: black;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 0 25px;
  line-height: 42px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  position: relative;
  justify-content: center;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  width: 22px;
  background: white;
  top: -3px;
  right: 25px;
  transition: all 0.3s;
}

.btn:hover::after {
  right: 120px;
}

.btn:disabled::after {
  right: 120px;
}

.btn img {
  width: 20px;
  height: 20px;
}

h2 {
  font-weight: 600;
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

section {
  padding: 100px 0;
}

/* Header */

main {
  padding: 56px 0 0 0;
}