.background-lines {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.15;
    pointer-events: none;
    overflow: hidden;

    .lines-row,
    .lines-column {
        position: absolute;
        inset: 0;
        display: grid;
    }

    /* Горизонтальные линии */
    .lines-row {
        grid-template-rows: repeat(8, 1fr);
    }

    /* Вертикальные линии */
    .lines-column {
        grid-template-columns: repeat(16, 1fr);
    }

    .line {
        background: linear-gradient(to right,
                rgba(0, 0, 0, 0.1) 0%,
                rgba(0, 0, 0, 0.05) 50%,
                rgba(0, 0, 0, 0.1) 100%);
    }

    .horizontal {
        height: 1px;
        width: 100%;
        animation: moveRight 12s linear infinite;
    }

    .vertical {
        width: 1px;
        height: 100%;
        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.1) 0%,
                rgba(0, 0, 0, 0.05) 50%,
                rgba(0, 0, 0, 0.1) 100%);
        animation: moveDown 18s linear infinite;
    }

    @keyframes moveRight {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(10px);
        }
    }

    @keyframes moveDown {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(10px);
        }
    }
}